@model AMMS.Models.ViewModels.AircraftModelViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aircraft Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nsn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nsn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Eic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eic)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </form>
</div>
