@model AMMS.Models.ViewModels.AircraftModelViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aircraft Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nsn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nsn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Eic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eic)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
