@model IEnumerable<AMMS.Models.ViewModels.AircraftModelViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
@if (TempData["ParentId"] != null && (string)TempData["ParentId"] != "ADMIN")
{
    <p>
        <a asp-controller="Aircraft" asp-action="Create" asp-route-parentId="@TempData["ParentId"]">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nsn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eic)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
