@model IEnumerable<AMMS.Models.ViewModels.AircraftViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>Aircraft List: @ViewBag.Unit.UnitName</h2>

<p>
    <a asp-action="Create" asp-route-parentId="@TempData["ParentId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
            <th>@Html.DisplayNameFor(model => model.AcftHrs)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                @Html.HiddenFor(modelItem => item.UnitId)
                <td>
                    @Html.HiddenFor(modelItem => item.AircraftModelId)
                    @foreach (var acft in ViewBag.Models)
                    {
                        if (acft.Id == item.AircraftModelId)
                        {
                            @acft.Mds
                            break;
                        }
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.AcftHrs)</td>
                <td>
                    @Html.ActionLink("", "ListFlight", "Record", new { parentId = item.Id }, new { @class = "btn btn-default btn-sm fa fa-fighter-jet", title = "Flights" })
                    @Html.ActionLink("", "ListInspection", "Record", new { parentId = item.Id }, new { @class = "btn btn-default btn-sm fa fa-search", title = "Inspections" })
                    @Html.ActionLink("", "ListFault", "Record", new { parentId = item.Id }, new { @class = "btn btn-default btn-sm fa fa-wrench", title = "Faults" }) |
                    @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-info", title = "Details" })
                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm fa fa-edit", title = "Edit" })
                    @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm fa fa-trash", title = "Delete" })
                </td>
            </tr>
        }
    </tbody>
</table>
