@model AMMS.Models.ViewModels.InspectionViewModel

@{
    ViewData["Title"] = "Create Inspection";
}

<h2>Create Inspection: @ViewBag.Aircraft.SerialNumber</h2>

<h4>Inspection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInspection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="Nomenclature" value="@ViewBag.AcftModel.Name" class="form-control" />
            <input type="hidden" asp-for="Model" value="@ViewBag.AcftModel.Mds" class="form-control" />
            <input type="hidden" asp-for="SerialNumber" value="@ViewBag.Aircraft.SerialNumber" class="form-control" />
            <input type="hidden" asp-for="AircraftId" value="@ViewBag.Aircraft.Id" class="form-control" />
            <div class="form-group">
                <label asp-for="InspectionNumber" class="control-label"></label>
                <input asp-for="InspectionNumber" class="form-control" />
                <span asp-validation-for="InspectionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemToBeInspected" class="control-label"></label>
                <input asp-for="ItemToBeInspected" class="form-control" />
                <span asp-validation-for="ItemToBeInspected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextDue" class="control-label"></label>
                <input asp-for="NextDue" class="form-control" />
                <span asp-validation-for="NextDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListInspection" asp-route-parentId="@ViewBag.Aircraft.Id">Back to List</a>
</div>

