@model AMMS.Models.ViewModels.RelatedMaintenanceViewModel

@{
    ViewData["Title"] = "Create Related Maintenance";
}

<h2>Create Related Maintenance: @ViewBag.Aircraft.SerialNumber</h2>

<h4>Related Maintenance</h4>
<p>@ViewBag.Fault.FaultText</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRelatedMaintenance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="FaultStatus" value="@ViewBag.Fault.Status" class="form-control" />
            <input type="hidden" asp-for="SerialNumber" value="@ViewBag.Aircraft.SerialNumber" class="form-control" />
            <input type="hidden" asp-for="SystemCode" value="@ViewBag.Fault.SystemCode" class="form-control" />
            <input type="hidden" asp-for="FaultDate" value="@ViewBag.Fault.FaultDate" class="form-control" />
            <input type="hidden" asp-for="FaultNumber" value="@ViewBag.Fault.FaultNumber" class="form-control" />
            <input type="hidden" asp-for="FaultText" value="@ViewBag.Fault.FaultText" class="form-control" />
            <input type="hidden" asp-for="FaultId" value="@ViewBag.Fault.Id" class="form-control" />
            <input type="hidden" asp-for="CorrectiveAction" class="form-control" />
            <input type="hidden" asp-for="PID" class="form-control" />
            <input type="hidden" asp-for="Category" class="form-control" />
            <input type="hidden" asp-for="MMH" class="form-control" />
            <input type="hidden" asp-for="TIPID" class="form-control" />
            <input type="hidden" asp-for="TIManHrs" class="form-control" />
            <input type="hidden" asp-for="TIPassword" class="form-control" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedMaintenanceAction" class="control-label"></label>
                <input asp-for="RelatedMaintenanceAction" class="form-control" />
                <span asp-validation-for="RelatedMaintenanceAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRelatedMaintenance" asp-route-parentId="@Model.FaultId">Back to List</a>
</div>

