@model AMMS.Models.ViewModels.FaultViewModel

@{
    ViewData["Title"] = "Delete Fault";
}

<h2>Delete Fault</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fault</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcftSerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcftSerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcftModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcftModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaultDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaultDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaultNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaultNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaultTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaultTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscPID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscPID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaultText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaultText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscAcftHrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscAcftHrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenDisc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenDisc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HowRecog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HowRecog)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MalEff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MalEff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WUC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WUC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompAcftHrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompAcftHrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rounds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rounds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompWUC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompWUC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompPID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompPID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompCat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompHrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompHrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AircraftId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AircraftId)
        </dd>
    </dl>

    <form asp-action="DeleteFault">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="ListFault" asp-route-parentId="@Model.AircraftId">Back to List</a>
    </form>
</div>
