@model IEnumerable<AMMS.Models.ViewModels.RelatedMaintenanceViewModel>

@{
    ViewData["Title"] = "Related Maintenance List";
}

<h2>RELATED MAINTENANCE ACTIONS RECORD</h2>
<p>@Html.ActionLink("", "DetailsFault", new { id = ViewBag.ParentId }, new { @class = "btn btn-link fa fa-arrow-circle-left fa-2x", title = "Back To Fault" })@ViewBag.FaultText</p>
@if (ViewBag.Lock)
{
    <p>Fault Signed Off. No More Actions.</p>
}
else
{
    <p><a asp-action="CreateRelatedMaintenance" asp-route-parentId="@ViewBag.ParentId">Add New Action</a></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedMaintenanceAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectiveAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIManHrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelatedMaintenanceAction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectiveAction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIManHrs)
                </td>
                <td>
                    @if (item.isOpen())
                    {
                        @Html.ActionLink("", "DetailsRelatedMaintenance", new { id = item.Id }, new { @class = "btn btn-sm btn-info fa fa-info", title = "Details" })
                        @Html.ActionLink("", "EditRelatedMaintenance", new { id = item.Id }, new { @class = "btn btn-sm btn-warning fa fa-edit", title = "Edit" })
                    }
                    @Html.ActionLink("", "DeleteRelatedMaintenance", new { id = item.Id }, new { @class = "btn btn-sm btn-danger fa fa-trash", title = "Delete" })
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.HiddenFor(modelItem => item.FaultStatus)
                    @Html.HiddenFor(modelItem => item.SerialNumber)
                    @Html.HiddenFor(modelItem => item.SystemCode)
                    @Html.HiddenFor(modelItem => item.FaultDate)
                    @Html.HiddenFor(modelItem => item.FaultNumber)
                    @Html.HiddenFor(modelItem => item.FaultText)
                    @Html.HiddenFor(modelItem => item.FaultId)
                </td>
            </tr>
        }
    </tbody>
</table>
