@model IEnumerable<AMMS.Models.ViewModels.FlightViewModel>

@{
    ViewData["Title"] = "Flight List";
}

<h2>Flight List: @ViewBag.SerialNumber</h2>

<p>
    <a asp-action="CreateFlight" asp-route-parentId="@ViewBag.ParentId">Create New Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightHours)
                </td>
                <td>
                    @Html.ActionLink("", "DetailsFlight", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-info", title = "Details" })
                    @Html.ActionLink("", "EditFlight", new { id = item.Id }, new { @class = "btn btn-warning btn-sm fa fa-edit", title = "Edit" })
                    @Html.ActionLink("", "DeleteFlight", new { id = item.Id }, new { @class = "btn btn-danger btn-sm fa fa-trash", title = "Delete" })
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.HiddenFor(modelItem => item.SerialNumber)
                    @Html.HiddenFor(modelItem => item.Model)
                    @Html.HiddenFor(modelItem => item.Organization)
                    @Html.HiddenFor(modelItem => item.Station)
                    @Html.HiddenFor(modelItem => item.AircraftId)
                </td>
            </tr>
        }
    </tbody>
</table>
