@model IEnumerable<AMMS.Models.ViewModels.InspectionViewModel>

@{
    ViewData["Title"] = "Inspection List";
}

<h2>Inspection List: @ViewBag.SerialNumber</h2>

<p>
    <a asp-action="CreateInspection" asp-route-parentId="@ViewBag.ParentId">Create New Inspection</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemToBeInspected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemToBeInspected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextDue)
                </td>
                <td>
                    @Html.ActionLink("", "DetailsInspection", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-info", title = "Details" })
                    @Html.ActionLink("", "EditInspection", new { id = item.Id }, new { @class = "btn btn-warning btn-sm fa fa-edit", title = "Edit" })
                    @Html.ActionLink("", "DeleteInspection", new { id = item.Id }, new { @class = "btn btn-danger btn-sm fa fa-trash", title = "Delete" })
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.HiddenFor(modelItem => item.Nomenclature)
                    @Html.HiddenFor(modelItem => item.Model)
                    @Html.HiddenFor(modelItem => item.SerialNumber)
                    @Html.HiddenFor(modelItem => item.CompletedAt)
                    @Html.HiddenFor(modelItem => item.AircraftId)
                </td>
            </tr>
        }
    </tbody>
</table>
