@using AMMS.Services
@model IEnumerable<AMMS.Models.AccountViewModels.RequestViewModel>

@{
    ViewData["Title"] = "Requests";
}

<h2>View</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => request.Requested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => request.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => request.PhoneNumber)
                </td>
                <td>
                    <a class="btn btn-success fa fa-thumbs-up" asp-controller="Account" asp-action="ApproveRequest" asp-route-id="@request.Id"></a>
                    <a class="btn btn-danger fa fa-thumbs-down" asp-controller="Account" asp-action="DenyRequest" asp-route-id="@request.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>